<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913289928186-biccmvhu05tvjik340jml96vpp21uevf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913289928186-biccmvhu05tvjik340jml96vpp21uevf</string>
	<key>API_KEY</key>
	<string>AIzaSyCScITP0kACMIErGBqH6wDJwvIgdFB92FI</string>
	<key>GCM_SENDER_ID</key>
	<string>913289928186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oyku.FinanceFusion</string>
	<key>PROJECT_ID</key>
	<string>financefusion-22d98</string>
	<key>STORAGE_BUCKET</key>
	<string>financefusion-22d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913289928186:ios:3c34cb000163494b795843</string>
</dict>
</plist>